파이썬 화이팅

In [ ]:
print("hello, world")

hello, world

In [ ]:
a=1
b=2
print(a*b)

2

In [ ]:
drink='와인'
food='회'
print("나는 "+drink+"에 "+food+" 먹는 것을 좋아해요.")

나는 와인에 회 먹는 것을 좋아해요.

In [ ]:
print("나는 {}에 {} 먹는 것을 좋아해요.".format(drink, food))

나는 와인에 회 먹는 것을 좋아해요.

In [ ]:
print("나는 {0}에 {1} 먹는 것을 좋아해요.".format(drink, food))

나는 와인에 회 먹는 것을 좋아해요.

In [ ]:
print("나는 {1}에 {0} 먹는 것을 좋아해요.".format(drink, food))

나는 회에 와인 먹는 것을 좋아해요.

In [ ]:
type(10)

int

In [ ]:
type("school")

str

In [ ]:
type(1+2j)

complex

In [ ]:
type(['a','b','c','d'])

list

In [ ]:
type(('a','b','c','d'))

tuple

In [ ]:
long_str = """Life is short,
you need "python"."""
print(long_str)

Life is short,
you need "python".

In [ ]:
a=1
b=2

In [ ]:
print(a<b)

True

In [ ]:
t, f=True,False
print(type(t,f)) # 이거는 왜 오류가 날까?

TypeError: ignored

# *List(리스트)*

In [ ]:
a=[1,2,3,4]
type(a)

list

In [ ]:
v=['화이자', '모더나', 'AZ', '얀센']
type(v)

list

In [ ]:
v[2]="AA"
v

['화이자', '모더나', 'AA', '얀센']

In [ ]:
v.pop()
v

IndexError: ignored

In [ ]:
L= [1,2,3,4,5]
L

[1, 2, 3, 4, 5]

In [ ]:
L= [1,2,3,4,5]
L[len(L)-1]

5

In [ ]:
bool(None)

False

In [ ]:
bool(1)

True

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
a = "mary" 
b = 'maRy'
c = 'mary!' 
d = 'ma ry'
a.upper(), b.upper() c.upper() d.upper()

SyntaxError: ignored

# 조건문 (퓨처스킬)

In [ ]:
# 조건문 첫번째 문제
                   
# height = float(input('키를 입력해주세요 : '))
height = float(input("키를 입력해주세요 : "))

if height >= 150 : 
  print(True)
else :
  print(False)                
  
## 내가 푼것 ##  
# height = 137.8
# if height >= 150:
# else:
# height < 150
# print(True)

키를 입력해주세요 : 150
True

In [ ]:
# 조건문 두번째 문제
n = int(input('숫자를 입력해주세요 : '))  # 입력할때는 input함수를 이용한다. 

if n % 3 == 0 :  # 배수문제는 나누기 생각 해보자. 
  print('짝')
else :
  print(n)

# for문 실험 기초 코드

In [ ]:
listA=['a', 'b', 'c', 'd']

for i in range(1,7,3):
  print(i,"py")

1 py
4 py

In [ ]:
num1=int(input("첫번째 정수 입력"))
num2=int(input("두번째 정수 입력"))
sum=0
for i in range(num1, num2+1, 1):
  sum=sum+i

  
   print(sum)
# print(num1, "에서", num2, "까지 합은 ", sum)

첫번째 정수 입력5
두번째 정수 입력10
5
11
18
26
35
45

In [ ]:
sum=0
for i in [1,2,3]:
  sum=sum+i
print(sum)

6

In [ ]:
sum=0
i=1
while i<=10:
  sum=sum+i
  i=i+1
print(sum)

55

In [ ]:
sum=0

for i in range(1,10,1):
  if i%2==0:
     sum=sum+i
print(sum)

20

# **왜 곱하기 연산에서 for문 안에 print 함수 위치에 따라서 출력값이 달라지는 걸까???**

In [ ]:
num=int(input("정수입력 : "))

for i in [1,2,3,4]:
  res=num*i

  print(num, "X", i, "=", res)

정수입력 : 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12

In [ ]:
num=int(input("정수입력 : "))
# res=0 이게 꼭 필요한걸까?
for i in [1,2,3,4]:
  res=num*i

print(num, "X", i, "=", res)

정수입력 : 3
3 X 4 = 12

In [ ]:
for i in range(5):
    print(i,end= " ")

0 1 2 3 4

In [ ]:
array = [1,2,3,4,5]
maxvalue = array[0]

for i in range(1,len(array)):
  if maxvalue < array[i]:
    maxvalue = array[i]

  print(maxvalue, end=" ")


# 위같은 경우는 for문이 모두 종료된 이후에 print문을 호출해서 딱 한번만 출력합니다.

# 하지만 두번째는 for문 안에 if문 안에 들어있기 때문에

# array[i]가 maxValue보다 클때마다 출력하게 됩니다.

# 일단 for문은 2, 3, 4, 5를 반복할꺼고 총 4번 출력하게 되겠네요

# 유효범위라는게 있습니다. 아래의 사진에서 형광색 부분이 for문의 유효범위입니다.
# 그렇기때문에 print는 for문의 유효범위에 있지 않기때문에 for문이 종료된 후 딱 한번 수행합니다.

2 3 4 5

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i * j)
        if(j == 9):
          print()  # for문안에서 print()은 한줄띄어쓰기?

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
a = 1
b = a+1
print(a and b)

2

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
     print(i, "X", j, "=", i * j, end = '\t')

2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10	2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20	4 X 6 = 24	4 X 7 = 28	4 X 8 = 32	4 X 9 = 36	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25	5 X 6 = 30	5 X 7 = 35	5 X 8 = 40	5 X 9 = 45	6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	6 X 5 = 30	6 X 6 = 36	6 X 7 = 42	6 X 8 = 48	6 X 9 = 54	7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	7 X 5 = 35	7 X 6 = 42	7 X 7 = 49	7 X 8 = 56	7 X 9 = 63	8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	8 X 5 = 40	8 X 6 = 48	8 X 7 = 56	8 X 8 = 64	8 X 9 = 72	9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36	9 X 5 = 45	9 X 6 = 54	9 X 7 = 63	9 X 8 = 72	9 X 9 = 81

In [ ]:
def print_sum():
  result = a+b
  print("내부", result)

b=20
a=10
print_sum()   # call function  이게 없으면 외부만 출력된다.
result = a*b  
print("외부", result)

내부 30
외부 200

In [ ]:
def greet(*names):
  for name in names:
    print(name)
    

greet('m', 'S')
greet('wotmd','wodn','dkdjt','ahffk')

m
S
wotmd
wodn
dkdjt
ahffk

In [ ]:
def sum_sum(*numbers):
  result = 0
  for n in numbers:
    
    result = result + n
  
  return result

sum_sum(10,20,30)

print(result)  # 이거는 왜 200이 나올까? 이게 파이썬 오류인가? 이거 새로운 작업환경에 붙이고 하면 오류라고 나옴.

200

In [ ]:
def sum_sum(*numbers):
  result = 0
  for n in numbers:
    
    result = result + n
  
    return result  # return 위치에 따라 for문 안에서 한번찍고 나오느냐 아니면 다 돌고 나오느냐 차이가 있다.


print(sum_sum(23210,30))

23210

# 전역변수, 지역변수 테스트

In [ ]:
even = 0
odd = 0

for  i in range(1,10,1):
    if (i % 2) == 0:
        even = even + i
    
    else:
        odd=odd+i

print(even, odd)

20 25

In [ ]:
even = 41  # 전역변수 # 여기 변수들이 for문에 들어가서 대입이 된다는거 확인
odd = 41   # 전역변수

for  i in range(4): 
    even_1 = even + i
    odd_1 = odd + i

    print("짝수:", even_1,  "홀수:",odd_1)

짝수: 41 홀수: 41
짝수: 42 홀수: 42
짝수: 43 홀수: 43
짝수: 44 홀수: 44

In [ ]:
even = 41 # 전역변수
odd = 41  # 전역변수 

for  i in range(4): 
    even_1 = even + i
    odd_1 = odd + i

print("짝수:", even_1,  "홀수:",odd_1)   # 여기서 궁금증인데 for문 안에 있는 변수인데 밖에 있는 print가 어떻게 even_1, odd_1이 어떻게 출력이 되는지 이해가 안됨.

짝수: 44 홀수: 44

In [ ]:
even = 0 # 전역변수는 모든곳에 침투해서 def든 class, for문이든 다됨.
odd = 0  # 전역변수는 모든곳에 침투해서 def든 class, for문이든 다됨.

for  i in range(4): 
    even_2 = even_2 + i
    #odd_2 = odd_2 + i

    even_3 = even_2

print("짝수:", even_3)

짝수: 197
짝수: 198
짝수: 200
짝수: 203

In [ ]:
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number_ = number +1 
    if mark < 60:
        continue # 이거는 조건 만족하면 통과시키는 코드다.  저팔계 통과 개념이다. 
 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

0번 학생 축하합니다. 합격입니다.

In [6]:
for i in range(5):
    x = i * 2
    print(x)

print(x)  # chatgpt에서 원래는 오류가 나야 정상이다.

0
2
4
6
8
8

In [24]:
x_2

for i in range(5):
    x_2 = x_1 + i

print(x_2)

4